.slick-list {
	overflow-x: hidden;
}

.menu-title {
	font-size: 15px;
}

.count-indicator {
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 75% !important;
		height: 75%;
	}
}

.form-control {
	margin-bottom: 3rem !important;
}

.react-datepicker__input-container {
	input {
		padding: 1rem;
		font-size: 1.5rem;
		border: 1px solid #f3f3f3;
	}
}

.sidebar {
	padding: 2rem;
}

.nav-item {
	.nav-link {
		font-weight: bold;
	}

	&--active {
		background: #7467ef;
		border-radius: 5px;
		box-shadow: -3px 12px 23px 0px rgba(0, 0, 0, 0.16);

		.nav-link {
			color: #fff !important;
		}
	}
}
