@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");

* {
    font-family: "Nunito", sans-serif;
}

.button--1 {
    padding: 20px 50px;
    background: #f04336;
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}

.button--1:hover {
    color: #fff;
}
