.card1 {
	min-height: 20rem;
	position: relative;

	&__image-container {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&-text {
		padding: 5rem 4rem 5rem 13rem;
	}

	&__title {
		font-size: 4rem;
		font-weight: 900;
		text-align: center;
	}

	&__description {
		font-size: 15px;
		text-align: center;
	}
}

.card2 {
	&-image-container {
		height: 30.2rem;
		position: relative;

		&:hover {
			.card2-menu {
				opacity: 1;
				pointer-events: initial;
			}

			.button--1 {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}

	&-detail {
		text-align: center;
	}

	&-menu {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		pointer-events: none;

		.button--1 {
			transform: translateY(5px);
			transition: all 0.3s;
			opacity: 0;
		}

		&__option {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			svg {
				width: 3rem !important;
				height: 3rem;
				background: #fff;
				padding: 5px;
				margin: 0 5px;
				transition: all 0.2s;

				path {
					fill: $red-color;
					transition: all 0.2s;
				}

				&:hover {
					background: $red-color;

					path {
						fill: #fff;
					}
				}
			}
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__name {
		font-size: 2.5rem;
		font-weight: 900;
		color: #000;
		transition: all 0.2s;

		&:hover {
			color: $red-color;
		}
	}

	&__price {
		font-size: 2rem;
		color: $red-color;
		font-weight: 900;
	}
}

$card3-before-width: 4rem;
$card3-before-height: 6rem;

.card3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10%;
	opacity: 0;
	pointer-events: none;
	text-align: center;

	&:nth-of-type(1) {
		background-color: $red-color;
	}
	&:nth-of-type(2) {
		background-color: $red-color-1;
	}
	&:nth-of-type(3) {
		background-color: $red-color-2;
	}

	&.active {
		opacity: 1;
		pointer-events: initial;
	}

	&__name {
		font-size: 7rem;
		font-weight: 900;
		background: #fff;
		color: #f04336;
		-webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
		clip-path: polygon(0 0, 100% 0, 98% 100%, 3% 100%);
		text-align: center;
		border-radius: 10px;
		display: inline-block;
		padding: 0 2rem;
		animation: appearText1 0.5s ease-in-out forwards;
	}

	&__subName {
		font-size: 5rem;
		font-weight: 900;
		animation: appearText2 0.5s ease-in-out forwards;
	}

	&__description {
		font-size: 1.9rem;
		animation: appearText2 0.7s ease-in-out forwards;
	}

	.button--1 {
		background: #fff;
		color: $red-color;
	}

	&::before {
		position: absolute;
		top: 0;
	}
}

.card4 {
	position: relative;

	&__image-container {
		height: 36.8rem;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__extra-image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
	}

	&:hover &__extra-image {
		display: block;
	}
}

.card5 {
	.button--1 {
		padding: 0;
		background: #fff;
		color: #f04336;
		margin-top: 2.5rem;
	}

	&__image-container {
		overflow: hidden;
		border-radius: 10px;

		&:hover .card5__image {
			transform: translateX(10px);
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.3s;
	}

	&__title {
		font-size: 2.4rem;
		font-weight: 900;
		color: #000;
		transition: all 0.3s;
		margin-top: 1rem;

		&:hover {
			color: $red-color;
		}
	}

	&__shortDescription {
		font-size: 15px;
		line-height: 25px;
		color: $gray-color;
		@include truncateLine(3);
		margin-top: 2rem;
	}

	&-hashtag {
		&-element {
			span {
				font-size: 15px;
			}
		}
	}
}

.card6 {
	text-align: center;
	padding: 5%;
	position: relative;

	&-logo-container {
		position: absolute;
		top: 5%;
		right: 5%;
		width: 50px;
		height: 50px;
	}

	&-logo {
		width: 100%;
		height: 100%;
		filter: invert(1);
	}

	&__title,
	&__description,
	&__author {
		text-align: center;
		color: #fff;
	}

	&__title {
		font-size: 5rem;
		font-weight: 900;
	}

	&__description {
		font-size: 15px;
	}

	&__author {
		font-size: 20px;
		font-weight: 900;
		clip-path: polygon(0 0, 100% 0, 98% 100%, 3% 100%);
		display: inline-block;
		overflow: hidden;
		color: $red-color;
		position: relative;
		padding: 0.5rem 3rem;
		border-radius: 5px;
		margin-top: 2.5rem;

		&::after {
			position: absolute;
			content: "";
			background: #fff;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}
}
