.categories-card {
	min-height: 20rem;
	position: relative;

	&__image-container {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&-text {
		padding: 5rem 4rem 5rem 13rem;
	}

	&__title {
		font-size: 4rem;
		font-weight: 900;
		text-align: center;
	}

	&__description {
		font-size: 15px;
		text-align: center;
	}
}

.latest-product-card {
	&-image-container {
		height: 30.2rem;
		position: relative;

		&:hover {
			.latest-product-card-menu {
				opacity: 1;
				pointer-events: initial;
			}

			.button--1 {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}

	&-detail {
		text-align: center;
	}

	&-menu {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		pointer-events: none;

		.button--1 {
			transform: translateY(5px);
			transition: all 0.3s;
			opacity: 0;
		}

		&__option {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			svg {
				width: 3rem !important;
				height: 3rem;
				background: #fff;
				padding: 5px;
				margin: 0 5px;
				transition: all 0.2s;

				path {
					fill: $red-color;
					transition: all 0.2s;
				}

				&:hover {
					background: $red-color;

					path {
						fill: #fff;
					}
				}
			}
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__name {
		font-size: 2.5rem;
		font-weight: 900;
		color: #000;
		transition: all 0.2s;

		&:hover {
			color: $red-color;
		}
	}

	&__price {
		font-size: 2rem;
		color: $red-color;
		font-weight: 900;
	}
}
