.shop-category-page-content {
    margin-top: 5rem;
}

.shop-category-page-filter {
    margin-top: 5rem;
}

.pagination-wrapper {
    padding: 5rem 0;
    display: flex;
    justify-content: flex-end;
}
