.slide-item {
	height: 100vh;

	.container {
		height: 100%;
		.row {
			height: 100%;
			display: flex;
			align-items: center;
		}
	}

	&__title {
		font-size: 6rem;
		color: #fff;
		font-weight: 900;
	}

	&__description {
		font-family: "Open Sans", sans-serif;
		font-size: 19px;
		color: #fff;
	}
}
